* {
    margin:0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
body{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
}

p {
    margin-top: 0.5rem;
}


/*----------------Form style--------------*/
form {
    margin-top: 2rem;
    width: 30%; 
    height:fit-content; 
    background-color: cornflowerblue;
    display: flex; 
    align-items: center;
    flex-direction: column;
}
h2 {
    color:cornsilk;
    align-self: center;
    margin-top: 1rem;
}

input, textarea{  
    background-color: cornsilk;
    padding: 0.5rem;
    width: 80%;
    max-width: 80%;
}
label {
    margin-top: 1rem; 
    margin-bottom: 0.3rem;
    margin-left: 2.5rem;
    color: cornsilk;
    align-self: flex-start;
}

#button {
    width: 30%;
    height: 20%;
    align-self: center;
    background-color: cornsilk;
    color: lightgray;
    font-size: 1.3rem;
    border: none; 
    border-radius: 0.3rem;
    margin: 1rem;
}

#button:hover{
    color: cornflowerblue;
}

/*----------------Table style--------------*/

table {
    width:80%;
    margin-top: 1rem;
}

th {
    text-align: left; 
    text-justify: center;
    padding: 0.5rem;
}

td{ 
    padding:0.5rem;
}

.deleteButton {
    background-color: gray;
    border: none; 
    border-radius: 0.3rem;
    color:cornsilk;
    padding: 0.2rem;
    font-size: 1.2rem;
}
.deleteButton:hover {
    background-color: rgb(255, 0, 51);
    cursor: pointer;
}